In [50]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from data_extraction import drought_data

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [38]:
input_file = "drought_data/us-droughts.csv"
droughts_df=pd.read_csv(input_file)
droughts_df=droughts_df.drop(columns="domStatisticFormatID")
droughts_df

,releaseDate,FIPS,county,state,NONE,D0,D1,D2,D3,D4,validStart,validEnd
0,2000-11-07,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-11-07,2000-11-13
1,2000-10-31,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-31,2000-11-06
2,2000-10-24,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-24,2000-10-30
3,2000-10-17,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-17,2000-10-23
4,2000-10-10,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-10,2000-10-16
...,...,...,...,...,...,...,...,...,...,...,...,...
2829496,2015-12-08,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-12-08,2015-12-14
2829497,2015-12-01,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-12-01,2015-12-07
2829498,2015-11-24,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-11-24,2015-11-30
2829499,2015-11-17,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-11-17,2015-11-23
2829500,2015-11-10,56045,Weston County,WY,30.70,69.30,0.0,0.0,0.0,0.0,2015-11-10,2015-11-16

In [39]:
droughts_df["D0"]=droughts_df["D0"]-droughts_df["D1"]
droughts_df["D1"]=droughts_df["D1"]-droughts_df["D2"]
droughts_df["D2"]=droughts_df["D2"]-droughts_df["D3"]
droughts_df["D3"]=droughts_df["D3"]-droughts_df["D4"]
droughts_df["Sumtotal"]=droughts_df["NONE"]+droughts_df["D0"]+droughts_df["D1"]+droughts_df["D2"]+droughts_df["D3"]+droughts_df["D4"]

In [40]:
print("Maximum and Minimum values for the total percentages.")
print(droughts_df["Sumtotal"].max())
print(droughts_df["Sumtotal"].min())

Maximum and Minimum values for the total percentages.
100.00000000000003
99.99999999999997

In [41]:
input_file = "drought_data/county_info_2016.csv"
#To read this file properly, due to the format it is recommended that you copy its contents to a new excel file.
#There seems to be a format issue.
county_df=pd.read_csv(input_file)

In [42]:
county_df=county_df.rename(columns={"GEOID":"FIPS"})
county_df

,USPS,FIPS,ANSICODE,NAME,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
0,AL,1001,161526,Autauga County,1.539609e+09,25749942,594.446,9.942,32.532237,-86.646440
1,AL,1003,161527,Baldwin County,4.117584e+09,1133130502,1589.808,437.504,30.659218,-87.746067
2,AL,1005,161528,Barbour County,2.291819e+09,50864677,884.876,19.639,31.870253,-85.405104
3,AL,1007,161529,Bibb County,1.612482e+09,9287974,622.583,3.586,33.015893,-87.127148
4,AL,1009,161530,Blount County,1.670042e+09,15077458,644.807,5.821,33.977358,-86.566440
...,...,...,...,...,...,...,...,...,...,...
3215,PR,72145,1804553,Vega Baja Municipio,1.187668e+08,57805868,45.856,22.319,18.455027,-66.397773
3216,PR,72147,1804554,Vieques Municipio,1.315278e+08,552206400,50.783,213.208,18.125418,-65.432474
3217,PR,72149,1804555,Villalba Municipio,9.229857e+07,3622637,35.637,1.399,18.130718,-66.472244
3218,PR,72151,1804556,Yabucoa Municipio,1.430052e+08,72592521,55.215,28.028,18.059858,-65.859871
3219,PR,72153,1804557,Yauco Municipio,1.753719e+08,1625260,67.711,0.628,18.085669,-66.857901

In [43]:
droughtwcount_df=droughts_df.merge(county_df,how='left',on="FIPS")

,releaseDate,FIPS,county,state,NONE,D0,D1,D2,D3,D4,...,Sumtotal,USPS,ANSICODE,NAME,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
0,2000-11-07,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,...,100.0,AK,1419964.0,Aleutians East Borough,1.808319e+10,2.079294e+10,6981.960,8028.201,55.245044,-161.997477
1,2000-10-31,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,...,100.0,AK,1419964.0,Aleutians East Borough,1.808319e+10,2.079294e+10,6981.960,8028.201,55.245044,-161.997477
2,2000-10-24,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,...,100.0,AK,1419964.0,Aleutians East Borough,1.808319e+10,2.079294e+10,6981.960,8028.201,55.245044,-161.997477
3,2000-10-17,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,...,100.0,AK,1419964.0,Aleutians East Borough,1.808319e+10,2.079294e+10,6981.960,8028.201,55.245044,-161.997477
4,2000-10-10,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,...,100.0,AK,1419964.0,Aleutians East Borough,1.808319e+10,2.079294e+10,6981.960,8028.201,55.245044,-161.997477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2829496,2015-12-08,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,...,100.0,WY,1605086.0,Weston County,6.211028e+09,5.001700e+06,2398.091,1.931,43.846213,-104.570020
2829497,2015-12-01,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,...,100.0,WY,1605086.0,Weston County,6.211028e+09,5.001700e+06,2398.091,1.931,43.846213,-104.570020
2829498,2015-11-24,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,...,100.0,WY,1605086.0,Weston County,6.211028e+09,5.001700e+06,2398.091,1.931,43.846213,-104.570020
2829499,2015-11-17,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,...,100.0,WY,1605086.0,Weston County,6.211028e+09,5.001700e+06,2398.091,1.931,43.846213,-104.570020
2829500,2015-11-10,56045,Weston County,WY,30.70,69.30,0.0,0.0,0.0,0.0,...,100.0,WY,1605086.0,Weston County,6.211028e+09,5.001700e+06,2398.091,1.931,43.846213,-104.570020

In [46]:
droughtwcount_df=droughtwcount_df.drop(columns=["NAME"])

KeyError: "['NAME'] not found in axis"

In [47]:
droughtwcount_df=droughtwcount_df.dropna()
droughtwcount_df

,releaseDate,FIPS,county,state,NONE,D0,D1,D2,D3,D4,...,validEnd,Sumtotal,USPS,ANSICODE,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
0,2000-11-07,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,...,2000-11-13,100.0,AK,1419964.0,1.808319e+10,2.079294e+10,6981.960,8028.201,55.245044,-161.997477
1,2000-10-31,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,...,2000-11-06,100.0,AK,1419964.0,1.808319e+10,2.079294e+10,6981.960,8028.201,55.245044,-161.997477
2,2000-10-24,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,...,2000-10-30,100.0,AK,1419964.0,1.808319e+10,2.079294e+10,6981.960,8028.201,55.245044,-161.997477
3,2000-10-17,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,...,2000-10-23,100.0,AK,1419964.0,1.808319e+10,2.079294e+10,6981.960,8028.201,55.245044,-161.997477
4,2000-10-10,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,...,2000-10-16,100.0,AK,1419964.0,1.808319e+10,2.079294e+10,6981.960,8028.201,55.245044,-161.997477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2829496,2015-12-08,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,...,2015-12-14,100.0,WY,1605086.0,6.211028e+09,5.001700e+06,2398.091,1.931,43.846213,-104.570020
2829497,2015-12-01,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,...,2015-12-07,100.0,WY,1605086.0,6.211028e+09,5.001700e+06,2398.091,1.931,43.846213,-104.570020
2829498,2015-11-24,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,...,2015-11-30,100.0,WY,1605086.0,6.211028e+09,5.001700e+06,2398.091,1.931,43.846213,-104.570020
2829499,2015-11-17,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,...,2015-11-23,100.0,WY,1605086.0,6.211028e+09,5.001700e+06,2398.091,1.931,43.846213,-104.570020
2829500,2015-11-10,56045,Weston County,WY,30.70,69.30,0.0,0.0,0.0,0.0,...,2015-11-16,100.0,WY,1605086.0,6.211028e+09,5.001700e+06,2398.091,1.931,43.846213,-104.570020

In [51]:
test=drought_data()
test

,releaseDate,FIPS,county,state,NONE,D0,D1,D2,D3,D4,...,validEnd,Sumtotal,USPS,ANSICODE,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
0,2000-11-07,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,...,2000-11-13,100.0,AK,1419964.0,1.808319e+10,2.079294e+10,6981.960,8028.201,55.245044,-161.997477
1,2000-10-31,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,...,2000-11-06,100.0,AK,1419964.0,1.808319e+10,2.079294e+10,6981.960,8028.201,55.245044,-161.997477
2,2000-10-24,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,...,2000-10-30,100.0,AK,1419964.0,1.808319e+10,2.079294e+10,6981.960,8028.201,55.245044,-161.997477
3,2000-10-17,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,...,2000-10-23,100.0,AK,1419964.0,1.808319e+10,2.079294e+10,6981.960,8028.201,55.245044,-161.997477
4,2000-10-10,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,...,2000-10-16,100.0,AK,1419964.0,1.808319e+10,2.079294e+10,6981.960,8028.201,55.245044,-161.997477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2829496,2015-12-08,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,...,2015-12-14,100.0,WY,1605086.0,6.211028e+09,5.001700e+06,2398.091,1.931,43.846213,-104.570020
2829497,2015-12-01,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,...,2015-12-07,100.0,WY,1605086.0,6.211028e+09,5.001700e+06,2398.091,1.931,43.846213,-104.570020
2829498,2015-11-24,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,...,2015-11-30,100.0,WY,1605086.0,6.211028e+09,5.001700e+06,2398.091,1.931,43.846213,-104.570020
2829499,2015-11-17,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,...,2015-11-23,100.0,WY,1605086.0,6.211028e+09,5.001700e+06,2398.091,1.931,43.846213,-104.570020
2829500,2015-11-10,56045,Weston County,WY,30.70,69.30,0.0,0.0,0.0,0.0,...,2015-11-16,100.0,WY,1605086.0,6.211028e+09,5.001700e+06,2398.091,1.931,43.846213,-104.570020