In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
#import requests
#import gmaps
#import os

# Import API key
#from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
input_file = "drought_data/us-droughts.csv"
droughts_df=pd.read_csv(input_file)
droughts_df

,releaseDate,FIPS,county,state,NONE,D0,D1,D2,D3,D4,validStart,validEnd,domStatisticFormatID
0,2000-11-07,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-11-07,2000-11-13,1
1,2000-10-31,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-31,2000-11-06,1
2,2000-10-24,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-24,2000-10-30,1
3,2000-10-17,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-17,2000-10-23,1
4,2000-10-10,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-10,2000-10-16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2829496,2015-12-08,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-12-08,2015-12-14,1
2829497,2015-12-01,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-12-01,2015-12-07,1
2829498,2015-11-24,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-11-24,2015-11-30,1
2829499,2015-11-17,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-11-17,2015-11-23,1
2829500,2015-11-10,56045,Weston County,WY,30.70,69.30,0.0,0.0,0.0,0.0,2015-11-10,2015-11-16,1

In [12]:
droughts_df["D0"]=droughts_df["D0"]-droughts_df["D1"]
droughts_df["D1"]=droughts_df["D1"]-droughts_df["D2"]
droughts_df["D2"]=droughts_df["D2"]-droughts_df["D3"]
droughts_df["D3"]=droughts_df["D3"]-droughts_df["D4"]
droughts_df["Sumtotal"]=droughts_df["NONE"]+droughts_df["D0"]+droughts_df["D1"]+droughts_df["D2"]+droughts_df["D3"]+droughts_df["D4"]

In [21]:
print("Maximum and Minimum values for the total percentages.")
print(droughts_df["Sumtotal"].max())
print(droughts_df["Sumtotal"].min())

100.00000000000003
99.99999999999997

releaseDate                  2016-03-01
FIPS                              56035
county                  Sublette County
state                                WY
NONE                              20.04
D0                                70.88
D1                                 9.08
D2                                    0
D3                                    0
D4                                    0
validStart                   2016-03-01
validEnd                     2016-03-07
domStatisticFormatID                  1
Sumtotal                            100
Name: 2829224, dtype: object