In [1]:
%matplotlib inline
# Dependencies and Setup
#plotting code adapted from https://www.kaggle.com/balagpdy/heatmap-animation-us-drought-map
import pandas as pd
import numpy as np
from data_extraction import drought_data
from IPython.display import HTML
from data_extraction_fires import fires_data

In [2]:
test_df = fires_data()
test_df

      LATITUDE  LONGITUDE FIRE_TYPE     IG_DATE   ACRES  YEAR       MILES
0       62.949   -162.901  Wildfire  2000-12-27   12003  2000   18.754687
1       63.767   -152.076  Wildfire  2000-06-23   18065  2000   28.226562
2       63.833   -155.804  Wildfire  2000-06-25   31347  2000   48.979688
3       63.838   -150.726  Wildfire  2000-06-25    4863  2000    7.598438
4       63.872   -150.715  Wildfire  2000-06-24   12071  2000   18.860938
...        ...        ...       ...         ...     ...   ...         ...
8298    44.731   -110.982  Wildfire  2016-08-09  103193  2016  161.239063
8299    44.867   -109.700  Wildfire  2016-08-10    3702  2016    5.784375
8300    44.936   -110.913  Wildfire  2016-08-05    3161  2016    4.939063
8301    44.981   -110.291  Wildfire  2016-08-13   13706  2016   21.415625
8302    44.981   -105.946  Wildfire  2016-06-18    2282  2016    3.565625

[8303 rows x 7 columns]