In [10]:
%matplotlib inline
# Dependencies and Setup
#plotting code adapted from https://www.kaggle.com/balagpdy/heatmap-animation-us-drought-map
import pandas as pd
import numpy as np
from data_extraction import drought_data
from IPython.display import HTML
from data_extraction_fires import fires_data

In [11]:
import matplotlib.pyplot as plt
from matplotlib.cm import ScalarMappable
from mpl_toolkits.basemap import Basemap
import matplotlib.animation as animation

ImportError: cannot import name 'dedent' from 'matplotlib.cbook' (/Users/leo/anaconda3/lib/python3.8/site-packages/matplotlib/cbook/__init__.py)

In [3]:
test_df = fires_data()
test_df

      LATITUDE  LONGITUDE FIRE_TYPE     IG_DATE   ACRES  YEAR       MILES
0       62.949   -162.901  Wildfire  2000-12-27   12003  2000   18.754687
1       63.767   -152.076  Wildfire  2000-06-23   18065  2000   28.226562
2       63.833   -155.804  Wildfire  2000-06-25   31347  2000   48.979688
3       63.838   -150.726  Wildfire  2000-06-25    4863  2000    7.598438
4       63.872   -150.715  Wildfire  2000-06-24   12071  2000   18.860938
...        ...        ...       ...         ...     ...   ...         ...
8298    44.731   -110.982  Wildfire  2016-08-09  103193  2016  161.239063
8299    44.867   -109.700  Wildfire  2016-08-10    3702  2016    5.784375
8300    44.936   -110.913  Wildfire  2016-08-05    3161  2016    4.939063
8301    44.981   -110.291  Wildfire  2016-08-13   13706  2016   21.415625
8302    44.981   -105.946  Wildfire  2016-06-18    2282  2016    3.565625

[8303 rows x 7 columns]

In [ ]:

#set initial values before updating
figure=plt.figure(figsize=(20,10))
axes=figure.add_subplot(111)
#using same projection as example map because I liked how it looked like
basemap=Basemap(llcrnrlon=-119,llcrnrlat=22,urcrnrlon=-64,urcrnrlat=49,projection="lcc",lat_1=33,lat_2=45,lon_0=-95)
basemap.drawcoastlines()
basemap.drawmapboundary(zorder=0,fill_color='#9fdbff')
basemap.fillcontinents(color='#FFFECE',zorder=1,lake_color='#9fdbff',alpha=1)
basemap.drawcountries(linewidth=1)
basemap.drawstates()
#Basemap is finished setting up, 
pdf=drought_datay
xloc,yloc=basemap(pdf.nth(0).INTPTLONG.tolist(),pdf.nth(0).INTPTLAT.tolist())
color=pdf.nth(0).Level.tolist()
pointsize=(pdf.nth(0).ALAND_SQMI/7).tolist()
colormap=plt.cm.YlOrRd
scalarmap = ScalarMappable(cmap=colormap)
scatter = axes.scatter(xloc,yloc,s=pointsize,c=color,cmap=colormap,alpha=1,edgecolors='face',marker='o',vmax=5,vmin=0,zorder=1.5)
plt.colorbar(scatter)
plt.title('US Average Drought Level for the Year '+pdf.nth(0).releaseDate.iloc[0].strftime('%Y'))